<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huashi.app"
    android:versionCode="1"
    android:versionName="1.10">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21" />
    <permission
        android:name="com.huashi.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.nfc.hce"/>
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.huashi.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".application.ExampleApplication"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.simalliance.openmobileapi" android:required="false"/>
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx94fafab682f0fe08"/>
            </intent-filter>
        </activity>
        <!-- 版本更新注册广播 -->
        <receiver android:name=".util.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <!-- 安装注册 -->
        <service android:name=".service.InstallationService" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!--微信支付-->
        <activity
            android:name=".weixinpay.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>


        <!--银联相关-->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 搜索 -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 设置 -->
        <activity
            android:name=".activity.SetActivity"
            android:screenOrientation="portrait" />
        <!-- 意见反馈 -->
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!-- 账户信息 -->
        <activity
            android:name=".activity.AccountInformationActivity"
            android:screenOrientation="portrait" />
        <!-- 昵称修改 -->
        <activity
            android:name=".activity.NicknameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 个性签名 -->
        <activity
            android:name=".activity.PersonalizedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 注册 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 修改密码 -->
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 登录 -->
        <activity
            android:name=".activity.Login_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 商品评论 -->
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 商品详情 -->
        <activity
            android:name=".activity.ProductdetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 订单详情 -->
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 确认订单 -->
        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 支付 -->
        <activity
            android:name=".activity.PayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 支付失败 -->
        <activity
            android:name=".activity.Failure_Activity"
            android:screenOrientation="portrait" />

        <!-- 支付成功 -->
        <activity
            android:name=".activity.PaySuccessActivity"
            android:screenOrientation="portrait" />

        <!-- 商品展示成 -->
        <activity
            android:name=".activity.CommodityDispayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 待发货 -->
        <activity
            android:name=".activity.WaitshipmentActivity"
            android:screenOrientation="portrait" />
        <!-- 地址管理 -->
        <activity
            android:name=".activity.MyAdderActivity"
            android:screenOrientation="portrait" />

        <!-- 我的收藏 -->
        <activity
            android:name=".activity.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <!-- 待付款 -->
        <activity
            android:name=".activity.WaitpaymentActivity"
            android:screenOrientation="portrait" />
        <!-- 售后 -->
        <activity
            android:name=".activity.AftesalesActivity"
            android:screenOrientation="portrait" />
        <!-- 待评论 -->
        <activity
            android:name=".activity.WaitCommentActivity"
            android:screenOrientation="portrait" />
        <!-- 待收货 -->
        <activity
            android:name=".activity.WaittakeActivity"
            android:screenOrientation="portrait" />
        <!-- 添加新地址 -->
        <activity
            android:name=".activity.NewAdderActivity"
            android:screenOrientation="portrait" />
        <!-- 所有订单 -->
        <activity
            android:name=".activity.AllOrderActivity"
            android:screenOrientation="portrait" />

        <!-- 找回密码 -->
        <activity
            android:name=".activity.FindPasswordActivity"
            android:screenOrientation="portrait" />

        <!-- 密码重置 -->
        <activity
            android:name=".activity.FindPawdEndActivity"
            android:screenOrientation="portrait" />
        <!-- 商品评论 -->
        <activity
            android:name=".activity.CommodityCommentActivity"
            android:screenOrientation="portrait" />
        <!-- 地址编辑页面 -->
        <activity
            android:name=".activity.CompileAdderActivity"
            android:screenOrientation="portrait" />
        <!-- 配送方式 -->
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <!-- 退款换货 -->
        <activity
            android:name=".activity.Refund_Activity"
            android:screenOrientation="portrait" />
        <!-- 退款状态详情 -->
        <activity
            android:name=".activity.Accept_Activity"
            android:screenOrientation="portrait" />
        <!-- 评价中心 -->
        <activity
            android:name=".activity.CommentFocusActivity"
            android:screenOrientation="portrait" />
        <!-- 评价商品 -->
        <activity
            android:name=".activity.EvaluateActivity"
            android:screenOrientation="portrait" />
        <!--物流详情-->
        <activity android:name=".activity.LogisticsDetailActivity"
            android:screenOrientation="portrait"></activity>


        <!-- Rich push 核心功能 since 2.0.6极光推送部分-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.huashi.app" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.huashi.app" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.huashi.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <service android:name=".service.HuashiService"
              android:process=":message">
            <intent-filter android:priority = "1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </service>
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".service.MyService"
            android:exported="false"
            android:enabled="true">
            <intent-filter  android:priority="1000">
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.huashi.app" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="d2c2d3130cd2b1449c966287" /> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>